.ticket-form-box{
  position: relative;
}

.ticket-form {
  position: fixed;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -500%);
  margin: 1.5rem auto;
  background: #e3f2fd;
  padding: 1.5rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  transition: all 0.5s ease;
}

.show-ticket-form{
  transform: translate(-50%);
}

.ticket-form input,
.ticket-form select {
  padding: 0.8rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.ticket-form button {
  background-color: #1976d2;
  color: white;
  padding: 0.7rem;
  border: none;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
}

.ticket-form button:hover {
  background-color: #135ba1;
}

@media (min-width: 250px){
  .ticket-form{
    width: 90%;
  }  
}

@media (min-width: 576px){
  .ticket-form{
    width: 80%;
  }  
}

@media (min-width: 768px){
  .ticket-form{
    width: 60%;
  }  
}

@media (min-width: 978px){
  .ticket-form{
    width: 50%;
  }  
}

@media (min-width: 1200px){
  .ticket-form{
    width: 45%;
  }  
}
